body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header {
    display: flex;
    align-items: center;
    background-color: #8ff591;
    color: #fff;
    padding: 10px;
}

header img {
    height: 50px;
    margin-right: 10px;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

main {
    display: flex;
    padding-bottom: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.form {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #00000017;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form input {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #f5f5f5;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
    color: #333;
    transition: box-shadow 0.2s ease-in-out;
}

.form input:focus {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.form button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    transition: background-color 0.2s ease-in-out;
}

.btn-cadastrar {
    background-color: green;
}

.btn-entrar {
    background-color: green;
}

.form button:hover {
    background-color: #111111;
}

.form .form-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.form .form-link:hover {
    color: #111;
}

footer {
    position: fixed;
    background-color: #333;
    color: #8ff591;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    bottom: 0;
    left: 0;
    right: 0;
}

footer.sticky {
    position: sticky;
    bottom: -100px;
}

body::after {
    content: "";
    display: block;
    height: 100px;
}
